<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HanselKeys</key>
	<dict>
		<key>HanselAppId</key>
		<string>HG7WKEM8KK3V8LVNGGDDO04D4</string>
		<key>HanselAppKey</key>
		<string>XAP23PIPEI1V1BEZZE5PPZ0YSWQFN45SQTV9MO353OODNSUSU0</string>
	</dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.netcore</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>hanselpebbletrace</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.netcore.SmartechApp</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>SmartechDemo</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.531748173665-t9939r7v38cq2d660duo06dt5o3be3lk</string>
			</array>
		</dict>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>SmartechKeys</key>
	<dict>
		<key>SmartechAppGroup</key>
		<string>group.com.netcore.SmartechApp</string>
		<key>SmartechAppId</key>
		<string>0e6fcbcb2600d8ea596051e8030be050</string>
		<key>SmartechAutoFetchLocation</key>
		<true/>
		<key>SmartechUseAdvId</key>
		<true/>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
